button {
				-moz-appearance: none;
				-webkit-appearance: none;
				appearance: none;
				background: none;
				border: none;
				color: inherit;
				cursor: pointer;
				font: inherit;
				outline: none;
				padding: 0
			}
			
			body,
			button,
			p,
			pre {
				margin: 0
			}
			
			h1,
			h2,
			h3 {
				font: inherit;
				margin: 0
			}
			
			ol,
			ul {
				margin: 0;
				padding: 0
			}
			
			li {
				list-style-type: none
			}
			
			a {
				color: inherit;
				text-decoration: none
			}
			
			.Button {
				background: none;
				border: 1px solid;
				border-radius: 3px;
				color: #8590a6;
				cursor: pointer;
				display: inline-block;
				font-size: 14px;
				line-height: 32px;
				padding: 0 16px;
				text-align: center
			}
			
			.Button::-moz-focus-inner {
				border: 0;
				padding: 0
			}
			
			.Button:focus {
				outline: none
			}
			
			.Button:disabled {
				cursor: default;
				opacity: .5
			}
			
			html[data-theme=dark] .Button {
				color: #606a80
			}
			
			.Button--grey {
				border-color: #8590a6;
				color: #8590a6
			}
			
			.Button--grey:hover:not(:disabled) {
				background-color: #8590a6;
				background-color: rgba(133, 144, 166, .06)
			}
			
			html[data-theme=dark] .Button--grey:hover:not(:disabled) {
				background-color: #606a80;
				background-color: rgba(96, 106, 128, .06)
			}
			
			html[data-theme=dark] .Button--grey {
				border-color: #606a80;
				color: #606a80
			}
			
			.Button--blue {
				border-color: #0084ff;
				color: #0084ff
			}
			
			.Button--blue:hover:not(:disabled) {
				background-color: #0084ff;
				background-color: rgba(0, 132, 255, .06)
			}
			
			html[data-theme=dark] .Button--blue:hover:not(:disabled) {
				background-color: #3a76d0;
				background-color: rgba(58, 118, 208, .06)
			}
			
			html[data-theme=dark] .Button--blue {
				border-color: #3a76d0;
				color: #3a76d0
			}
			
			.Button--green {
				border-color: #11a668;
				color: #11a668
			}
			
			.Button--green:hover:not(:disabled) {
				background-color: #11a668;
				background-color: rgba(17, 166, 104, .06)
			}
			
			.Button--red {
				border-color: #f36;
				color: #f36
			}
			
			.Button--red:hover:not(:disabled) {
				background-color: #f36;
				background-color: rgba(255, 51, 102, .06)
			}
			
			html[data-theme=dark] .Button--red:hover:not(:disabled) {
				background-color: #d92155;
				background-color: rgba(217, 33, 85, .06)
			}
			
			html[data-theme=dark] .Button--red {
				border-color: #d92155;
				color: #d92155
			}
			
			.Button--primary.Button--blue {
				background-color: #0084ff;
				color: #fff
			}
			
			.Button--primary.Button--blue:hover:not(:disabled) {
				background-color: #0077e6;
				border-color: #0077e6
			}
			
			html[data-theme=dark] .Button--primary.Button--blue:hover:not(:disabled) {
				background-color: #2f69c1;
				border-color: #2f69c1
			}
			
			html[data-theme=dark] .Button--primary.Button--blue {
				background-color: #3a76d0;
				color: #ebebeb
			}
			
			.Button--primary.Button--green {
				background-color: #12b370;
				color: #fff
			}
			
			.Button--primary.Button--green:hover:not(:disabled) {
				background-color: #109e63!important;
				border-color: #109e63
			}
			
			html[data-theme=dark] .Button--primary.Button--green {
				color: #ebebeb
			}
			
			.Button--primary.Button--red {
				background-color: #f36;
				color: #fff
			}
			
			.Button--primary.Button--red:hover:not(:disabled) {
				background-color: #ff1a53;
				border-color: #ff1a53
			}
			
			html[data-theme=dark] .Button--primary.Button--red:hover:not(:disabled) {
				background-color: #c31d4c;
				border-color: #c31d4c
			}
			
			html[data-theme=dark] .Button--primary.Button--red {
				background-color: #d92155;
				color: #ebebeb
			}
			
			.Button--primary.Button--grey {
				background-color: #8590a6;
				color: #fff
			}
			
			.Button--primary.Button--grey:hover:not(:disabled) {
				background-color: #77839c;
				border-color: #77839c
			}
			
			html[data-theme=dark] .Button--primary.Button--grey:hover:not(:disabled) {
				background-color: #565e71;
				border-color: #565e71
			}
			
			html[data-theme=dark] .Button--primary.Button--grey {
				background-color: #606a80;
				color: #ebebeb
			}
			
			.Button--spread {
				width: 100%
			}
			
			.Button-icon {
				margin-right: 7px
			}
			
			.Button--plain .Button-icon {
				margin-right: 6px
			}
			
			.Button--blue .Button-icon,
			.Button--green .Button-icon,
			.Button--red .Button-icon {
				fill: currentColor
			}
			
			.Button--link,
			.Button--plain {
				background-color: transparent;
				border: none;
				border-radius: 0;
				height: auto;
				line-height: inherit;
				padding: 0
			}
			
			html[data-theme=dark] .Button--link,
			html[data-theme=dark] .Button--plain {
				border: none
			}
			
			.Button--plain:hover,
			html[data-theme=dark] .Button--link:hover,
			html[data-theme=dark] .Button--plain:hover {
				background-color: transparent;
				background-color: initial
			}
			
			.Button--plain:hover {
				color: #77839c
			}
			
			html[data-theme=dark] .Button--plain:hover {
				color: #565e71
			}
			
			.Button--link {
				color: #175199
			}
			
			.Button--link:hover {
				background-color: transparent;
				background-color: initial;
				color: #144785
			}
			
			html[data-theme=dark] .Button--link:hover {
				color: #144785
			}
			
			html[data-theme=dark] .Button--link {
				color: #175199
			}
			
			.Button--withIcon.Button--iconOnly {
				padding: 0 4px
			}
			
			.Button--withIcon.Button--link,
			.Button--withIcon.Button--plain {
				padding: 0
			}
			
			.Button--withIcon.Button--withLabel .Button-zi {
				margin-right: 4px
			}
			
			.Card {
				background: #fff;
				border-radius: 2px;
				box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
				box-sizing: border-box;
				margin-bottom: 10px;
				overflow: hidden
			}
			
			.Card:last-child {
				margin-bottom: 0
			}
			
			html[data-theme=dark] .Card {
				background: #1a1a1a;
				box-shadow: 0 1px 3px rgba(0, 0, 0, .1)
			}
			
			.Card-header {
				align-items: center;
				border-bottom: 1px solid #f6f6f6;
				box-sizing: border-box;
				display: flex;
				height: 50px;
				justify-content: space-between;
				padding: 0 20px
			}
			
			.Card-header:last-child {
				border-bottom: none
			}
			
			html[data-theme=dark] .Card-header {
				border-bottom: 1px solid #2e2e2e
			}
			
			.Card-headerText {
				font-synthesis: style;
				font-weight: 600;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap
			}
			
			html[data-ios] .Card-headerText {
				font-weight: 500
			}
			
			html[data-android] .Card-headerText {
				font-weight: 700
			}
			
			.Card-section {
				padding: 16px 20px;
				position: relative
			}
			
			.Card-section+.Card-section:after {
				border-bottom: 1px solid #f6f6f6;
				content: "";
				display: block;
				left: 0;
				margin: 0 20px;
				position: absolute;
				right: 0;
				top: 0
			}
			
			html[data-theme=dark] .Card-section+.Card-section:after {
				border-bottom: 1px solid #2e2e2e
			}
			
			.Button {
				box-sizing: border-box
			}
			
			.Modal {
				max-width: 92vw
			}
			
			.Select-option {
				white-space: nowrap
			}
			
			.Pub-white-body {
				background: #fff
			}
			
			.PubLayout {
				align-items: flex-start;
				display: flex;
				justify-content: space-between;
				margin: 20px auto;
				width: 1000px
			}
			
			.PubLayout-main {
				max-width: 690px;
				width: 100%
			}
			
			.PubLayout-mainInner {
				padding: 20px 24px
			}
			
			.PubLayout-side {
				width: 296px
			}
			
			.PubLayout-sideInner {
				margin: 16px
			}
			
			.PubLayout-fsImage img {
				max-width: 100%;
				object-fit: cover;
				vertical-align: top
			}
			
			.PubShare {
				margin-top: 13px
			}
			
			@media (max-width:1002px) {
				.PubLayout {
					flex-direction: column;
					width: 690px
				}
				.PubLayout .Card-header {
					padding-left: 16px
				}
				.PubLayout .PubLayout-side {
					width: 100%
				}
			}
			
			@media (max-width:690px) {
				.App-main .hide-sm {
					display: none
				}
			}
			
			@media (min-width:691px) {
				.App-main .show-sm {
					display: none
				}
			}
			
			.PubAnchor {
				-webkit-transform: translateY(-60px);
				transform: translateY(-60px)
			}
			
			@media (max-width:690px) {
				.PubLayout {
					margin-top: 0;
					width: 100%
				}
				.PubLayout-main {
					border: none
				}
				.PubLayout-mainInner {
					padding: 16px
				}
				.PubLayout-fsImage img {
					height: 156px;
					height: 41.66667vw
				}
				.PubAnchor {
					-webkit-transform: none;
					transform: none
				}
			}
			
			.MPubLayout {
				margin-left: auto;
				margin-right: auto;
				max-width: 640px
			}
			
			.MPub-bottomBarBase {
				background: #fff;
				bottom: 0;
				left: 0;
				padding-bottom: env(safe-area-inset-bottom);
				position: fixed;
				right: 0;
				z-index: 2
			}
			
			.Pub-redDot {
				background-color: #f75659;
				border: 2px solid #fff;
				border-radius: 50%;
				bottom: 28px;
				height: 8px;
				left: 18px;
				position: absolute;
				width: 8px
			}
			
			.Body--isInApp {
				-moz-user-select: none;
				-ms-user-select: none;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				user-select: none
			}
			
			.Body--isInApp .PubShare {
				display: none
			}
			
			.Body--isInApp .App-main {
				padding-top: 0
			}
			
			.Body--isInApp .PubLayout {
				margin-top: 0
			}
			
			html[data-theme=dark] .Card {
				background: #1a1a1a;
				color: #bfbfbf
			}
			
			html[data-theme=dark] .Card-header,
			html[data-theme=dark] .Card-section:not(:last-child):after {
				border-bottom-color: #444
			}
			
			html[data-theme=dark] .Button--primary {
				background-color: #3a76d0;
				border-color: #3a76d0
			}
			
			html[data-theme=dark] .MPub-bottomBarBase {
				background: #000
			}
			
			html[data-theme=dark] .Pub-redDot {
				border-color: #1a1a1a
			}
			
			.tippy-arrow {
				pointer-events: none
			}
			
			body {
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
				background: #f3f3f3;
				color: #262626;
				font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
				font-size: 15px
			}
			
			.App-main {
				display: block
			}
			
			.AppHeader {
				background: #fff;
				background-clip: content-box;
				border-bottom: 1px solid rgba(30, 35, 42, .06);
				box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
				min-width: 1032px;
				overflow: hidden;
				position: -webkit-sticky;
				position: sticky;
				top: 0;
				z-index: 100
			}
			
			.AppHeader-inner {
				align-items: center;
				display: flex;
				height: 52px;
				margin: 0 auto;
				padding: 0 16px;
				position: relative;
				transition: -webkit-transform .3s;
				transition: transform .3s;
				transition: transform .3s, -webkit-transform .3s;
				width: 1000px
			}
			
			.AppHeader.is-hidden .AppHeader-inner {
				-webkit-transform: translateY(-100%);
				transform: translateY(-100%)
			}
			
			.AppHeader-nav {
				color: #999;
				display: flex;
				height: 30px;
				justify-content: space-between;
				margin-left: 27px;
				margin-right: 18px
			}
			
			.AppHeader-navItem {
				color: #8590a6;
				font-size: 15px;
				line-height: 30px;
				padding: 0 15px
			}
			
			.AppHeader-navItem:hover {
				color: #175199
			}
			
			.AppHeader-navItem.is-active {
				color: #333
			}
			
			.AppHeader-navItem:first-child {
				padding-left: 0
			}
			
			.AppHeader-input {
				width: 345px
			}
			
			.AppHeader-userInfo {
				align-items: center;
				display: flex;
				flex: 1;
				justify-content: flex-end
			}
			
			.AppHeader-messages,
			.AppHeader-notifications {
				margin-right: 40px
			}
			
			.AppHeader-login {
				margin-right: 16px
			}
			
			.PubMobileAppHeader {
				background-color: #fff;
				border-bottom: 1px solid rgba(30, 35, 42, .06);
				box-shadow: 0 1px 3px 0 rgba(0, 34, 77, .05);
				position: -webkit-sticky;
				position: sticky;
				top: 0;
				width: 100%;
				z-index: 100
			}
			
			.PubMobileAppHeader .Icon-logo {
				vertical-align: middle
			}
			
			.PubMobileAppHeader,
			.PubMobileSubHeader {
				-webkit-transform: translateY(0);
				transform: translateY(0);
				transition: -webkit-transform .3s .3s;
				transition: transform .3s .3s;
				transition: transform .3s .3s, -webkit-transform .3s .3s
			}
			
			.PubMobileAppHeader.is-hide,
			.PubMobileAppHeader.is-hide~.App-main .PubMobileSubHeader {
				-webkit-transform: translateY(-100%);
				transform: translateY(-100%)
			}
			
			.PubMobileAppHeader-inner {
				display: flex;
				justify-content: space-between
			}
			
			.PubMobileAppHeader-link {
				align-items: center;
				display: flex;
				position: relative
			}
			
			.PubMobileAppHeader-logo {
				line-height: 52px;
				padding: 0 20px
			}
			
			.PubMobileAppHeader-actions {
				color: #0f88eb;
				display: flex;
				font-size: 16px
			}
			
			.PubMobileAppHeader-authLink {
				padding: 0 16px
			}
			
			.PubMobileAppHeader-downloadLink {
				padding: 0 16px;
				position: relative
			}
			
			.PubMobileAppHeader-downloadLink:after {
				-webkit-transform: translateY(-50%);
				border-left: 1px solid #e7eaf1;
				content: "";
				display: block;
				height: 16px;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 0
			}
			
			.PubMobileAppHeader-profileEntry {
				line-height: normal;
				vertical-align: middle
			}
			
			.PubMobileAppHeader-moreIconWrapper {
				display: flex;
				justify-content: center;
				margin: 0 16px;
				position: relative;
				text-align: center
			}
			
			.Tabs {
				border-bottom: 1px solid #f6f6f6
			}
			
			html[data-theme=dark] .Tabs {
				border-bottom: 1px solid #2e2e2e
			}
			
			.Tabs-item {
				display: inline-block;
				padding: 0 20px
			}
			
			.Tabs-link {
				color: #1a1a1a;
				display: inline-block;
				font-size: 16px;
				line-height: 22px;
				padding: 14px 0;
				position: relative;
				text-align: center
			}
			
			.Tabs-link.is-active {
				font-synthesis: style;
				font-weight: 600
			}
			
			html[data-ios] .Tabs-link.is-active {
				font-weight: 500
			}
			
			html[data-android] .Tabs-link.is-active {
				font-weight: 700
			}
			
			.Tabs-link.is-active:after {
				background: #0084ff;
				bottom: -1px;
				content: "";
				height: 3px;
				left: 0;
				position: absolute;
				right: 0
			}
			
			html[data-theme=dark] .Tabs-link.is-active:after {
				background: #3a76d0
			}
			
			html[data-theme=dark] .Tabs-link {
				color: #999
			}
			
			.Tabs-meta {
				color: #999;
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
				margin-left: 6px
			}
			
			html[data-theme=dark] .Tabs-meta {
				color: #646464
			}
			
			.PubIndex {
				margin: 20px auto;
				width: 1000px
			}
			
			.PubIndex .BookItem-cover .Image {
				height: 200px
			}
			
			.PubIndex .CornerText {
				-webkit-transform: rotate(45deg) translate(51%, 58%);
				height: 30px;
				line-height: 30px;
				transform: rotate(45deg) translate(51%, 58%);
				width: 98px
			}
			
			.PubIndex-recommendationsHeader {
				padding-left: 20px
			}
			
			.PubIndex-recommendationsHeader .Card-headerText {
				display: flex;
				font-size: 16px;
				width: 100%
			}
			
			.PubIndex-recommendationsLink {
				align-self: center;
				color: #8590a6;
				font-size: 14px;
				font-weight: 400;
				margin-left: auto
			}
			
			.PubIndex-recommendationsLink:hover {
				color: #7a8599
			}
			
			.PubIndex-recommendationsLink .Icon {
				-webkit-transform: rotate(-90deg);
				fill: currentColor;
				margin-left: 8px;
				transform: rotate(-90deg)
			}
			
			.BookList {
				margin-left: 20px;
				margin-right: 20px;
				padding: 20px 0
			}
			
			.PubIndex-recommends .BookItem {
				margin: 0
			}
			
			.PubIndex-CategoriesHeader {
				align-items: center;
				background: #fff;
				border-bottom: 1px solid #f0f2f7;
				display: flex;
				position: -webkit-sticky;
				position: sticky;
				z-index: 2
			}
			
			.PubIndex-CategoriesHeader .Pub-NavShelf {
				margin: 0 16px 0 auto
			}
			
			.PubIndex-CategoriesHeader .Pub-NavShelf:hover {
				background: #f1f7fc
			}
			
			.PubIndex-CategoriesHeader .Pub-NavShelf .TotalCount {
				display: none
			}
			
			.PubIndex-tabs {
				align-items: center;
				border-bottom: 0;
				display: flex;
				font-size: 16px
			}
			
			.PubIndex-tabs .Tabs-item {
				flex-shrink: 0
			}
			
			.PubIndex-tabs .Tabs-link {
				font-size: 1em;
				line-height: normal
			}
			
			.PubIndex-subTabs {
				align-items: center;
				display: flex;
				flex-wrap: wrap;
				font-size: 15px;
				margin: 0 4px;
				padding: 12px 0
			}
			
			.PubIndex-subTabs a {
				flex-shrink: 0;
				padding: 20px
			}
			
			.PubIndex-subTabs .is-active {
				font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
				font-weight: 500
			}
			
			.PubIndex-subTabs .Popover {
				flex-shrink: 0;
				margin-left: 15px
			}
			
			.PubIndex-tabsTogglerWrapper {
				margin-right: 8px;
				padding: 16px 20px 17px
			}
			
			.PubIndex-tabsToggler {
				cursor: pointer
			}
			
			.PubIndex-tabsToggler .Icon {
				-webkit-transform: rotate(180deg);
				fill: #d8d8d8;
				margin-left: 8px;
				transform: rotate(180deg)
			}
			
			.PubIndex-tabsMenu a {
				display: block;
				font-size: 14px;
				padding: 16px
			}
			
			.PubIndex-main:not(.is-drained) {
				min-height: calc(100vh - 100px)
			}
			
			.PubIndex-bookListSpinner {
				margin: 30px auto 60px
			}
			
			.PubIndex-helpLinkWrapper {
				font-size: 14px;
				padding: 20px;
				text-align: right
			}
			
			.PubIndex-helpLinkWrapper a {
				color: #8590a6
			}
			
			.PubIndex-helpLinkWrapper a:hover {
				color: #7a8599
			}
			
			@media (max-width:768px) {
				.PubIndex {
					margin-top: 0;
					width: 100%
				}
				.Card {
					border: 0
				}
				.PubIndex-recommends {
					-webkit-overflow-scrolling: touch;
					margin-left: 0;
					margin-right: 0;
					overflow: scroll
				}
				.PubIndex-recommends .BookItem {
					margin-left: 16px;
					padding-right: 16px
				}
				.PubIndex-CategoriesHeader {
					display: block
				}
				.NavShelf {
					display: none
				}
				.PubIndex-subTabs,
				.PubIndex-tabs {
					font-size: 14px;
					justify-content: space-between
				}
				.PubIndex-subTabs {
					margin-left: 24px;
					margin-right: 24px
				}
				.PubIndex-subTabs .Popover,
				.PubIndex-subTabs a {
					margin: 0;
					padding: 0
				}
			}
			
			.LegacyIcon-placeholder {
				display: inline-block
			}
			
			.BookList {
				display: flex;
				justify-content: space-between
			}
			
			.BookList .BookItem {
				margin-right: 50px
			}
			
			.BookList .BookItem:nth-child(5n) {
				margin-right: 0
			}
			
			.BookList--wrap {
				flex-wrap: wrap;
				margin-bottom: -50px
			}
			
			.BookList--wrap .BookItem {
				margin-bottom: 60px
			}
			
			@media (max-width:768px) {
				.BookList--wrap .BookItem.BookItem {
					margin-right: 30px
				}
				.BookList--wrap .BookItem:nth-child(4n) {
					margin-right: 0
				}
			}
			
			@media (max-width:729px) {
				.BookList--wrap .BookItem {
					margin-bottom: 30px
				}
				.BookList--wrap .BookItem.BookItem {
					margin-right: 30px
				}
				.BookList--wrap .BookItem:nth-child(3n) {
					margin-right: 0
				}
			}
			
			@media (max-width:690px) {
				.BookList--wrap .BookItem.BookItem {
					margin-right: 20px
				}
				.BookList--wrap .BookItem:nth-child(3n) {
					margin-right: 0
				}
			}
			
			@media (max-width:535px) {
				.BookList--wrap {
					justify-content: space-around
				}
				.BookList--wrap .BookItem.BookItem {
					margin-right: 30px
				}
				.BookList--wrap .BookItem:nth-child(2n) {
					margin-right: 0
				}
			}
			
			@media (max-width:415px) {
				.BookList--wrap {
					justify-content: space-between
				}
				.BookList--wrap .BookItem.BookItem {
					margin-right: 0
				}
			}
			
			@media (max-width:355px) {
				.BookList .BookItem {
					width: 130px
				}
				.BookList .BookItem-cover {
					height: 173px
				}
			}
			
			.BookItem {
				color: #8590a6;
				flex-shrink: 0;
				font-size: 14px;
				width: 150px
			}
			
			.BookItem a {
				display: block
			}
			
			.BookItem-title {
				color: #222;
				font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
				font-size: 16px;
				font-weight: 500;
				line-height: 22px;
				margin-bottom: 9px;
				margin-top: 14px;
				position: relative
			}
			
			.BookItem-title.showNotice {
				position: relative;
				text-indent: 1em
			}
			
			.BookItem-title.showNotice .Pub-redDot {
				left: 0;
				top: 6px
			}
			
			.BookItem-authors {
				line-height: 1;
				margin-bottom: 12px
			}
			
			.BookItem-promotion {
				display: flex;
				line-height: 1
			}
			
			.BookItem-value {
				order: 2;
				text-decoration: line-through
			}
			
			.BookItem-cover .Image {
				display: block;
				height: 144px;
				max-width: 100%
			}
			
			.BookItem-value~.BookItem-price {
				color: #f75659;
				margin-right: 12px
			}
			
			@media (max-width:690px) {
				.BookItem-title {
					font-size: 14px;
					line-height: 19px
				}
			}
			
			.PubShelfBookItem {
				width: 105px
			}
			
			.PubShelfBookItem-cover {
				height: 140px;
				width: 105px
			}
			
			.PubShelfBookItem-cover .CornerText {
				background: #0084ff
			}
			
			.PubShelfBookItem-main {
				display: block;
				text-align: center
			}
			
			.PubShelfBookItem-chapterName,
			.PubShelfBookItem-title {
				box-sizing: border-box;
				display: inline-block;
				font-size: 12px;
				line-height: 17px;
				margin: 0 auto;
				max-width: 100%;
				overflow: hidden;
				padding-top: 8px;
				position: relative;
				text-overflow: ellipsis;
				white-space: nowrap
			}
			
			.PubShelfBookItem-chapterName.showNotice,
			.PubShelfBookItem-title.showNotice {
				padding-left: 12px
			}
			
			.PubShelfBookItem-chapterName .Pub-redDot,
			.PubShelfBookItem-title .Pub-redDot {
				bottom: 2px;
				left: -2px
			}
			
			.PubShelfBookItem-chapterName {
				color: #999;
				display: block
			}
			
			.PubBookListItem {
				align-items: center;
				display: flex
			}
			
			.PubBookListItem-buttonWrapper,
			.PubBookListItem .Button {
				flex-shrink: 0
			}
			
			.PubBookListItem-main {
				display: flex;
				flex-grow: 1;
				margin-right: 16px;
				min-width: 0
			}
			
			.PubBookListItem-image {
				align-self: flex-start;
				box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, .26);
				flex-shrink: 0;
				margin-right: 16px;
				width: 120px
			}
			
			.PubBookListItem-image.SelfListItem-image img {
				object-position: 0 0
			}
			
			.PubBookListItem-info {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				line-height: 1.8;
				min-width: 0
			}
			
			.PubBookListItem-title {
				font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
				font-size: 20px;
				font-weight: 500;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap
			}
			
			.PubBookListItem-title.showNotice {
				padding-left: 1em;
				position: relative
			}
			
			.PubBookListItem-title .Pub-redDot {
				bottom: 6px;
				left: 0
			}
			
			.PubBookListItem-author,
			.PubBookListItem-description,
			.PubBookListItem-promotion {
				margin-top: 4px
			}
			
			.PubBookListItem-description {
				color: #8694a6
			}
			
			.PubBookListItem-promotion {
				display: flex
			}
			
			.PubBookListItem-price {
				color: #fe6270;
				order: 2
			}
			
			.PubBookListItem-price+.PubBookListItem-value {
				color: #bfbfbf;
				margin-right: 6px;
				text-decoration: line-through
			}
			
			@media (max-width:690px) {
				.PubBookListItem-main {
					margin-right: 0
				}
				.PubBookListItem-image {
					box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
					margin-right: 10px;
					width: 82px
				}
				.BookItem-cover .Image {
					height: 133px
				}
				.PubBookListItem-info {
					font-size: 14px;
					line-height: 1.5;
					margin-right: 10px
				}
				.PubBookListItem-author {
					margin-top: 2px
				}
				.PubBookListItem-promotion {
					margin-top: 3px
				}
				.PubBookListItem-description {
					font-size: 13px;
					line-height: 18px;
					margin-top: 2px
				}
				.PubBookListItem-title {
					font-size: 16px
				}
			}
			
			html[data-theme=dark] .BookItem-title,
			html[data-theme=dark] .PubBookListItem-description,
			html[data-theme=dark] .PubBookListItem-title {
				color: #999
			}
			
			html[data-theme=dark] .PubBookListItem-buttonWrapper .Button {
				background: #17222b;
				border-color: #17222b
			}
			
			.BookCoverWrapper {
				border-radius: 6px;
				flex-shrink: 0;
				overflow: hidden;
				position: relative
			}
			
			.BookCoverWrapper:before {
				background: #000;
				background: rgba(0, 0, 0, .03);
				border-radius: inherit;
				bottom: 0;
				content: "";
				left: 0;
				pointer-events: none;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1
			}
			
			.BookCoverWrapper .ImageWrapper {
				border-radius: inherit
			}
			
			html[data-theme=dark] .BookCoverWrapper:before {
				background-color: transparent
			}
			
			.ImageWrapper {
				flex-shrink: 0;
				position: relative
			}
			
			.ImageWrapper .sizeHolder {
				background: #f0eff5;
				border-radius: inherit
			}
			
			.ImageWrapper img {
				border-radius: inherit;
				color: #aaa;
				font-size: 12px;
				height: 100%;
				left: 0;
				object-fit: cover;
				overflow: hidden;
				position: absolute;
				text-overflow: ellipsis;
				top: 0;
				white-space: nowrap;
				width: 100%
			}
			
			.ImageWrapper .refresh {
				background: #fff;
				border-radius: 50%;
				display: inline-block;
				height: 24px;
				left: 50%;
				margin-left: -12px;
				margin-top: -12px;
				padding: 5px 6px;
				position: absolute;
				top: 50%;
				width: 24px
			}
			
			html[data-theme=dark] .ImageWrapper {
				-webkit-filter: brightness(.7);
				filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
				filter: brightness(.7)
			}
			
			.Yuan {
				font-family: PingFang SC, Arial, sans-serif
			}
			
			.Yuan-symbol {
				letter-spacing: .1em
			}
			
			.CornerText {
				-webkit-transform: rotate(45deg) translate(50%, 90%);
				-webkit-transform-origin: top right;
				background: #fe6270;
				color: #fff;
				font-size: 12px;
				font-weight: 400;
				height: 16px;
				letter-spacing: .05em;
				line-height: 16px;
				position: absolute;
				right: 0;
				text-align: center;
				text-indent: .05em;
				top: 0;
				transform: rotate(45deg) translate(50%, 90%);
				transform-origin: top right;
				width: 100px;
				z-index: 1
			}
			
			[data-display-cornertext=false] .CornerText {
				display: none
			}
			
			.Pub-NavShelf {
				align-items: center;
				cursor: pointer;
				display: flex;
				padding: 0 12px;
				position: relative
			}
			
			.Pub-NavShelf .Pub-redDot {
				bottom: 16px;
				left: 20px
			}
			
			.Pub-NavShelf .Icon {
				fill: #0f88eb;
				margin-right: 10px
			}
			
			.Pub-NavShelf .TotalCount {
				background: #f6f6f6;
				border-radius: 2px;
				color: #8590a6;
				font-size: 10px;
				height: 24px;
				line-height: 24px;
				margin-left: auto;
				padding: 0 13px;
				text-align: center;
				width: auto
			}