<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="shortcut icon" type="image/x-icon" href="static/image/icon/favicon.ico">
	<link href="css/mizhimain.css" rel="stylesheet">
	<link href="layui/css/layui.css" rel="stylesheet">
	<script>
        function test() {
            parent.document.getElementById("iframe").height = 0;
            parent.document.getElementById("iframe").height = document.body.scrollHeight;
        }
	</script>
	<style>
		a{
			color: #627A99;
		}

	</style>
</head>

<body style="background-color: #FFFFFF">

<div  style="margin-left: 10px;">

	<b>全部草稿</b>
	<hr class="layui-bg-black">
	<div th:each="art : ${plist.list}">
		<b><a th:href="@{/adetail(id=${art.articleid})}" th:text="${art.atitle eq ''}?'未名题':${art.atitle}"></a></b>
		<div th:text="${art.anavtext}"></div>
		<a th:href="@{/adelarticle(id=${art.articleid})}">删除</a><span >•</span><a th:href="@{/adetail(id=${art.articleid})}">编辑</a><span >•</span>创建于：<span th:text="${#dates.format(art.articletime,'yyyy年MM月dd日 HH时mm分') }"></span><span >•</span>共<b th:text="${art.anumber}"></b>字
		<hr />
	</div>
</div>

</body>

</html>