<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/image/icon/favicon.ico">
    <link href="../layui/css/layui.css" rel="stylesheet">
</head>
<body>
    <div id ="father" align="center" style ="padding-top: 30px;">
    <div id = "createliketitle"><span style ="font-size: 22px;margin-bottom: 40px;">创建新收藏夹</span></div>

        <div id ="createlikebody" style="padding: 20px;">
            <input type="text" style ="margin-bottom: 20px;" name="lname" required  lay-verify="required" placeholder="收藏夹名称" autocomplete="off" class="layui-input">

            <textarea name="descriptions" placeholder="收藏描述(可选)" style ="margin-bottom: 40px;" rows="7"  class="layui-textarea"></textarea>
            <div>
                <button  id ="backbutton"	class="layui-btn layui-btn-primary">返 回</button>
                <button class="layui-btn layui-btn-normal" id ="cbutton">确认 创建</button>

            </div>
        </div>
    </div>
    <script src="webjars/jquery/3.2.1/dist/jquery.js"></script>
    <script src="../layui/layui.js"></script>
    <script>
        $(function () {
            $("#backbutton").click(function () {
                layui.use('layer',function () {
                    var layer = layui.layer;
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);
                    parent.layer.open({
                        type: 2,
                        title: '创建收藏夹中',
                        shadeClose: true,
                        offset:['100px'],
                        shade: 0.8,
                        area: ['500px', '400px'],
                        content: ['toLikeIframeController','no'] //iframe的url
                    });
                });
            });
            $("#cbutton").click(function () {
                var lname = $("[name=lname]").val();
                var descriptions = $("[name=descriptions]").val();
               $.post("ajaxCreateLikes",{"lname":lname,"descriptions":descriptions},function (result) {
                   if(result=="1"){
                       alert("收藏夹已存在..");
                       $("[name=lname]").val("");
                       $("[name=descriptions]").val("");
                       return;
                   }else if(result=="2"){
                    alert("创建成功!");


                       layui.use('layer',function () {
                           var layer = layui.layer;
                           var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                           parent.layer.close(index);
                           parent.layer.open({
                               type: 2,
                               title: '收藏中',
                               shadeClose: true,
                               offset:['100px'],
                               shade: 0.8,
                               area: ['600px', '450px'],
                               content: ['toLikeIframeController','no'] //iframe的url
                           });
                       });


                    return;
                   }else{
                       alert("创建失败");
                    return;
                   }
               },"json"); 
            });
        });
    </script>
</body>
</html>