<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/image/icon/favicon.ico">
    <link href="../layui/css/layui.css" rel="stylesheet">
    <style>
        .iframebodyson {
            height: 40px;
            width: 90%;
            margin: 0 auto;
        }

        .iframebodyson .iframebodysontitle {
            float: left;
        }

        .iframebodyson .likebuttondiv {
            float: right;
        }

    </style>
</head>
<body>

<div align="center">
    <div class="iframetitle" style="padding-top: 15px;margin-bottom: 15px;">
        <div style="margin-bottom: 8px;"><strong style="font-size: 22px;">添加收藏</strong></div>
        <div><span style="color: #2F4056">请选择你想添加的收藏夹</span></div>
    </div>


    <div class="iframebody">
        <input th:each="llid : ${queryLikesList}" type="hidden" name="llid" th:value="${llid.lid}">
        <div style="padding: 10px;" th:if="${likesList !=null}" th:each="like : ${likesList}">
            <div class="iframebodyson">
                <div class="iframebodysonone">
                    <input type="hidden" name="lcfcid" th:value="${lcfcid}">
                    <input type="hidden" name="lctype" th:value="${lctype}">
                    <div class="iframebodysontitle">
                        <div><span><strong>[[${like.lname}]]  </strong>:</span> <span><span
                                th:if="${like.likecontextsList!=null}" th:text="${like.likecontextsList.size()}"></span> <span
                                th:if="${like.likecontextsList==null}">0</span> 条内容</span></div>
                    </div>


                </div>
                <div class="likebuttondiv">
                    <button class="layui-btn layui-btn-primary likecontextsbutton" biaoshi="1" th:lid="${like.lid}">收藏
                    </button>
                </div>
            </div>
            <div th:if="${like.descriptions !=null}" style="position: relative;left:-132px;clear: both">
                收藏描述：[[${like.descriptions}]]
            </div>

            <hr>
        </div>

        <div th:if="${likesList ==null}" style="padding-top: 80px;">
            <span style="font-size: 22px;color: #4e5257">尚未有收藏夹，请点击下方按钮创建</span>
        </div>

    </div>

    <div style="margin-top: 25px;position: absolute;top: 270px;left: 150px;">
        <button id="createlikebutton" class="layui-btn layui-btn-lg layui-btn-normal"
                style="height: 40px;line-height: 35px;width: 200px;">创 建 收 藏 夹
        </button>
    </div>
</div>


<script src="webjars/jquery/3.2.1/dist/jquery.js"></script>
<script src="../layui/layui.js"></script>
<script>

    $(function () {
        $("[name=llid]").each(function () {
            var llid = $(this).val();

            $(".likecontextsbutton").each(function () {
                var lid = $(this).attr("lid");
                if (lid == llid) {
                    $(this).attr("biaoshi", "2");
                    $(this).html("已收藏");
                    $(this).css({"background": "rgb(122,144,166)", "color": "white"});
                }
            });
        });

        $("#createlikebutton").click(function () {

            $.post("ajaxQueryCountController", "", function (result) {
                if (result) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layer.open({
                            type: 2,
                            title: '创建收藏夹中',
                            shadeClose: true,
                            offset: ['100px'],
                            shade: 0.8,
                            area: ['600px', '450px'],
                            content: ['toCreateIframeController', 'no'] //iframe的url

                        });
                    });
                } else {
                    alert("您所拥有的收藏夹已到极限!!");
                    return false;
                }
            }, "json");
        });

        $(".likecontextsbutton").click(function () {
            var self = $(this);
            var lid = self.attr("lid");
            var lcfcid = $("[name=lcfcid]").val();
            var lctype = $("[name=lctype]").val();
            var biaoshi = self.attr("biaoshi");
            $.post("ajaxAddLikeContextsController", {
                "likes.lid": lid,
                "lcfcid": lcfcid,
                "lctype": lctype,
                "biaoshi": biaoshi
            }, function (result) {
                if (result == 1) {
                    alert('收藏成功!');
                    self.html("已收藏");
                    self.css({"background": "rgb(122,144,166)", "color": "white"});
                    self.attr("biaoshi", "2");
                }
                else if (result == 2) {
                    alert("成功取消收藏");
                    self.html("收藏");
                    self.css({"background": "white", "color": "#2F4056"});
                    self.attr("biaoshi", "1");
                } else {
                    alert("操作出现异常");
                }
            }, "json");
        });
    });
</script>
</body>
</html>