<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jishu.mizhi.hong.answers.dao.AnswersMapper">

    <resultMap id="answermap" type="cn.jishu.mizhi.entity.Answers" autoMapping="true">
        <id column="awid" property="awid"></id>
        <association property="users" resultMap="usersmap"></association>
        <association property="questions" resultMap="questionsmap"></association>
    </resultMap>


    <resultMap id="usersmap" type="cn.jishu.mizhi.entity.Users" autoMapping="true">
        <id column="userid" property="userid"></id>
    </resultMap>



    <resultMap id="questionsmap" type="cn.jishu.mizhi.entity.Questions" autoMapping="true">
        <id column="qid" property="qid"></id>
    </resultMap>





    <select id="queryAnswersByQid" resultMap="answermap">
       SELECT * FROM answers AS a,users AS u WHERE u.userid = a.userid and a.qid = #{qid} order by agreecount desc
    </select>

    <select id="queryAnswersByUsersids" resultMap="answermap">
        SELECT * FROM answers AS a,users AS u1,questions AS q WHERE q.qid = a.qid AND u1.userid = a.userid
          AND a.userid IN
        <foreach collection="userids" open="(" close=")" separator="," item="userids">
            #{userids}
        </foreach>
        AND a.awstatus = '1'


    </select>


</mapper>