<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jishu.mizhi.hong.cares.dao.CaresMapper">
    <select id="getAllCaresId" resultType="cn.jishu.mizhi.entity.Cares">
        select  becardid from cares where userid = #{userid}
    </select>

    <select id="queryCountByCares" resultType="java.lang.Integer">
        select count(*) from cares where userid = #{userid} and becardid = #{becardid}
    </select>

    <insert id="addCaresByUsers">
insert into cares values(null,#{userid},#{becardid})
    </insert>
    
    <delete id="deleteCaresByUsers">
        delete from cares where userid = #{userid} and becardid = #{becardid}
    </delete>

<select id="queryAllByBecardid" resultType="cn.jishu.mizhi.entity.Users">
    select userid from cares where becardid = #{becardid}
</select>
</mapper>