<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jishu.mizhi.hong.like.dao.LikeMapper">
    <select id="queryLikesByUserid" resultType="cn.jishu.mizhi.entity.Likes">
        select * from likes where userid = #{userid}
    </select>

    <select id="likesCount" resultType="java.lang.Integer">
        select count(*) from likes where userid=  #{userid}
    </select>

    <insert id="createLikes">
        INSERT INTO likes(lid,userid,lname
        <if test="descriptions!=null and descriptions !=''">,descriptions</if>
        ) VALUES(NULL,#{users.userid},#{lname}
        <if test="descriptions!=null and descriptions !=''">,#{descriptions}</if>
        )
    </insert>

    <delete id="deleteLikes">
        delete from likes where lid= #{lid}
    </delete>

    <update id="updateLIikes">
        update likes
        <set>
            <if test="lname!=null and lname ==''">lname = #{lname}</if>
            <if test="descriptions!=null and descriptions ==''">descriptions = #{descriptions}</if>
        </set>
        where lid = #{lid}
    </update>

    <select id="queryCountByUseridAndLname" resultType="java.lang.Integer">
        select count(*) from likes where userid = #{userid} and lname = #{lname}
    </select>

    <insert id="addLikesContexts">
        insert into likecontexts values(null,#{likes.lid},#{lcfcid},#{lctype})
    </insert>

    <delete id = "deleteLikesContextByLidAndLcfcidAndLctype">
        delete from likecontexts where lid = #{likes.lid} and lcfcid = #{lcfcid} and lctype = #{lctype}
    </delete>


    <select id="queryLikecontextsByLid" resultType="cn.jishu.mizhi.entity.Likecontexts">
select * from Likecontexts where lid = #{lid}
    </select>

<select id="quertLikesByLikecontexts" resultType="cn.jishu.mizhi.entity.Likes">
    select lid from Likecontexts where lcfcid = #{lcfcid} and lctype = #{lctype}
</select>
</mapper>