<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jishu.mizhi.hong.questions.dao.QuestionsMapper">

    <resultMap id="questionsmap" type="cn.jishu.mizhi.entity.Questions" autoMapping="true">
        <id column="qid" property="qid"></id>
        <association property="users" resultMap="usersmap"></association>
        <collection property="answersList" resultMap="answersmap"></collection>
    </resultMap>
    
    <resultMap id="usersmap" type="cn.jishu.mizhi.entity.Users" autoMapping="true">
<id column="userid" property="userid"></id>
    </resultMap>

    <resultMap id="answersmap" type="cn.jishu.mizhi.entity.Answers" autoMapping="true">
        <id column="awid" property="awid"></id>
    </resultMap>
    
    <select id="getQuestionsByQuestionType" resultMap="questionsmap">
        SELECT * FROM questions AS q1,answers AS a WHERE a.qid = q1.qid AND q1.qid IN(
        SELECT q.qid FROM questions AS q,questionscontext AS qc,questionstype AS qt WHERE q.qid = qc.qid AND qt.qtid = qc.qtid AND qt.qtid IN (SELECT uqt.qtid FROM userquestiontypes AS uqt,users AS u WHERE u.userid = uqt.userid AND u.userid=#{userid})
        )
        AND a.isuse = 1
        <![CDATA[
	AND DATEDIFF(q1.qtime,NOW())<7
       ]]>
        ORDER BY q1.qtime DESC
    </select>
    


    <select id="detailQuestionsById" resultMap="questionsmap">
SELECT * FROM questions AS q,users AS u WHERE u.userid = q.userid AND q.qid = #{qid}
    </select>

<select id="queryQuestionsByUsersids" resultMap="questionsmap">
SELECT  *  FROM questions AS q,users AS u WHERE u.userid = q.userid AND  q.qtime > DATE_ADD(NOW(),INTERVAL #{jiange} DAY) AND q.userid IN
    <foreach collection="userids" open="(" close=")" separator="," item="userids">
        #{userids}
    </foreach>
 AND q.questionstatus = '1'
</select>

</mapper>