<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jishu.mizhi.hong.userstalks.dao.UsersTalksMapper">

    <resultMap id="userstalksmap" type="cn.jishu.mizhi.entity.Userstalks" autoMapping="true">
        <id property="utid" column="utid"></id>
        <association property="users" resultMap="usersmap"></association>
    </resultMap>

    <resultMap id="usersmap" type="cn.jishu.mizhi.entity.Users" autoMapping="true">
        <id column="userid" property="userid"></id>
    </resultMap>

    <select id="queryUserTalksByuserids" resultMap="userstalksmap">
       SELECT  *  FROM userstalks AS ut,users AS u WHERE ut.userid = u.userid  AND ut.userid IN
        <foreach collection="userids" open="(" close=")" separator="," item="userids">
            #{userids}
    </foreach>
        AND ut.utstatus = '1'
    </select>
</mapper>