
body{
background-color: #f2f2f2;
}
.mheader{
	width: 100%;
	height: 50px;
	margin-top: 5px;
	padding-top: 8px;
	
}

.mheader>div{
	display: inline-block;
}
.mlogo{
	float: left;
	position: relative;
	margin-left: 3%;
}
.mcontext{
	
	position: relative;
	margin-left: 10%;
}


.mcontext h3,.mcontext h4{
	display: block;
}

